#login {
  margin: 130px auto;
  width: 800px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

#singup {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 20%);
}
