<h1>Search result</h1>

<div id="all_hotel">
  <% @hotels.each do |hotel| %>
    <div id="show_one_hotel">
      <div id="image">
        <%= link_to image_tag('hotel_img.jpg'), hotel_path(hotel) %>
      </div>
      <h3><%= link_to hotel.hotel_name, hotel_path(hotel) %></h3>
      <p><%= "#{hotel.country}, #{hotel.city}" %></p>
    </div>
  <% end %>
</div>
